apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    io.kompose.service: frontend
spec:

  selector:
    matchLabels:
      io.kompose.service: frontend
  template:
    metadata:
      labels:
        io.kompose.service: frontend
    spec:
      containers:
        - name: hotel-reserv-frontend
          image: divyanshus/hotelreservation:latest
          command: ["frontend"]
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: 500m
            limits:
              cpu: 1000m
          readinessProbe:
            httpGet:
              path: /healthz
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
      restartPolicy: Always
